#ourCanvus{
    background-image: url("snake.png") 
    
}
body{
    background-image: url("old_arcade_chars.jpg")
}

#love{
border: 2px solid white;
height: auto;
width: 600px;
background-color: black;
color: white;
font-family: 'Germania One', cursive;
text-align: center;

}

#gOver{
    margin: auto;
    position: absolute;
    top: 300px;
    left : 740px;
    font-size: 60px;
    text-align: center;
    color: black;
    display: none;
    font-family: 'Germania One', cursive;

}

#firstDiv{
    margin: auto ;
    width: 600px;
    margin-top: 200px;
    
}
#h1{
    text-align: center;
    color: white;
    font-family: 'Germania One', cursive;
    font-size: 62px;
}

body{
    background-image: src ="old_arcade_chars.jpg";
}

